:root {
    --dark: rgba(0, 0, 0, 0.5);
    --light: rgba(0, 0, 0, 0.3);
  }

html, body, #pauseScreen {
    height: 100vh;
    width: 100vw; 
}

body {
    background-image: url(iceland_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#pauseScreen {
    background-color: var(--light);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 10vh 85vh 5vh;
}

textarea {
    resize: none;
    height: 100%;
}

h1 {
    font-size: 2em;
}

#header, #footer {
    background-color: var(--dark);
    grid-column: 1 / -1;
    padding: 10px;
}

#header {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#content {
    /* background-color: rgba(255, 255, 255, 0.311); */
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    /* margin: 0 50px 0 50px; */
    padding: 20px 50px 20px 50px;
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.taskFormContent {
    height: 50vh;
    width: 50vw; 
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.526);
    place-self: center;
}

.listViewContent {
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    /* overflow: hidden; */
}

.listViewContent > * {
    background-color: var(--dark);
    box-sizing: border-box;
    /* height: 100%;
    max-height: 100%; */
    overflow: hidden;
}

.taskListColumn {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.taskCategoryTabs{
    height: 5%;
    max-height: 5%;
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.displayedTasks {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 1fr;
    max-height: 1fr;
    overflow: scroll;
}

.taskRow {
    /* background-color: greenyellow; */
    box-sizing: border-box;
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 40px 20px;
}

.taskRowName {
    grid-column: 1 / 2;
    font-weight: bold;
    font-size: 1.1em;
}

.taskRowDate {
    grid-column: 1 / 2;   
}

.taskRowSelectMark {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    background-color: yellow;
}

.taskDescColumn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 25px 1fr 25px; 
}

.taskDetailName {
    grid-column: 1 / -1;
    border-bottom: solid black 1px;
    font-weight: bold;
    font-size: 1.3em;
}

.taskDetailCategory {
    grid-column: 1 / 2;
}

.taskDetailPriority {
    grid-column: 2 / 3;
}

.taskDetailDueDate{
    grid-column: 3 / 4;
}

.taskDetailDescription {
    grid-column: 1 / -1;
    border-bottom: solid black 1px;
}

.editTaskBtn {
    grid-column: 2 / -2;
}

.deleteTaskBtn {
    grid-column: -1 / -2
}

/* Style for form view */
.taskFormContent {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 3fr 20px;
    gap: 5px;
    background-color: var(--dark);
}

.taskFormContent > * {
    /* border: black solid 1px; */
}

.formTextInput {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.taskNameDiv, .taskDescDiv {
    grid-column: 1 / -1;
}

.formButtonDiv {
    grid-column: -1 / -2;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}